<div class="col-md-12 mx-auto">



    <div class="card">
        <div class="card-header">
            <h3>Crear nuevo tvpanel</h3>
        </div>
        <div class="card">
            <div class="header">
                <h2>Detalles</h2>
            </div>
            <div class="body">
                <form id="basic-form" method="post" novalidate>
                    <div class="form-group">
                        <label>Nombre / Ubicación </label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <label>Single Selection</label>
                        <div class="multiselect_div">
                            <select id="single-selection" name="single_selection"
                                class="multiselect multiselect-custom">
                                <option value="cheese">Cheese</option>
                                <option value="tomatoes">Tomatoes</option>
                                <option value="mozarella">Mozzarella</option>
                                <option value="mushrooms">Mushrooms</option>
                                <option value="pepperoni">Pepperoni</option>
                                <option value="onions">Onions</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Unidad</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ip</label>
                        <textarea class="form-control" rows="5" cols="30" required></textarea>
                    </div>
                    <div class="fancy-checkbox">
                        <label><input type="checkbox"><span>Mostrar codigo QR</span></label>
                    </div>
                    <div class="fancy-checkbox">
                        <label><input type="checkbox"><span>Usar lector de documentos </span></label>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label>Radio Button</label>
                            <br />
                            <label class="fancy-radio">
                                <input type="radio" name="gender" value="male" required
                                    data-parsley-errors-container="#error-radio">
                                <span><i></i>Male</span>
                            </label>
                            <label class="fancy-radio">
                                <input type="radio" name="gender" value="female">
                                <span><i></i>Female</span>
                            </label>
                            <p id="error-radio"></p>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Validate</button>
                </form>
            </div>
        </div>


        <div class="card-body">
            <form action="/tvpanel/nuevo-tvpanel" method="post">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                    <textarea name="group" class="form-control" placeholder="group"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        save
                    </button>
                </div>



            </form>
        </div>
    </div>
</div>




<!-- Javascript -->
<script src="../assets/bundles/libscripts.bundle.js"></script>
<script src="../assets/bundles/vendorscripts.bundle.js"></script>

<script src="../assets/vendor/toastr/toastr.js"></script>

<script src="../assets/bundles/mainscripts.bundle.js"></script>
<script src="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script><!-- Multi Select Plugin Js -->
<script src="../assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>


<script>


    function miFuncion() {

        toastr.options.timeOut = "false";
        toastr.options.closeButton = true;
        toastr.options.positionClass = 'toast-bottom-right';
        toastr['info']('Hi there, this is notification demo with HTML support. So, you can add HTML elements like <a href="javascript:void(0);">this link</a>');

    }

    //window.onload=miFuncion;


    $(function () {

        // toastr.options.timeOut = "false";
        //toastr.options.closeButton = true;
        // toastr.options.positionClass = 'toast-bottom-right';
        // toastr['info']('Hi there, this is notification demo with HTML support. So, you can add HTML elements like <a href="javascript:void(0);">this link</a>');

        $('.btn-toastr').on('click', function () {
            $context = $(this).data('context');
            $message = $(this).data('message');
            $position = $(this).data('position');

            if ($context === '') {
                $context = 'info';
            }

            if ($position === '') {
                $positionClass = 'toast-bottom-right';
            } else {
                $positionClass = 'toast-' + $position;
            }

            toastr.remove();
            toastr[$context]($message, '', {
                positionClass: $positionClass
            });
        });

        $('#toastr-callback1').on('click', function () {
            $message = $(this).data('message');

            toastr.options = {
                "timeOut": "300",
                "onShown": function () {
                    alert('onShown callback');
                },
                "onHidden": function () {
                    alert('onHidden callback');
                }
            };

            toastr['info']($message);
        });

        $('#toastr-callback2').on('click', function () {
            $message = $(this).data('message');

            toastr.options = {
                "timeOut": "10000",
                "onclick": function () {
                    alert('onclick callback');
                },
            };

            toastr['info']($message);

        });

        $('#toastr-callback3').on('click', function () {
            $message = $(this).data('message');

            toastr.options = {
                "timeOut": "10000",
                "closeButton": true,
                "onCloseClick": function () {
                    alert('onCloseClick callback');
                }
            };

            toastr['info']($message);


        });


    });
</script>