<div class="container-fluid">
    <div class="row clearfix">

        <div class="col-lg-4 col-md-12">
            <div class="card planned_task">
                <div class="header">
                    <h2>Planned</h2>
                    <ul class="header-dropdown dropdown dropdown-animated scale-left">
                        <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="dd" data-plugin="nestable">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle">
                                    <h6>Dashbaord</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                    <ul class="list-unstyled team-info m-t-20">
                                        <li><img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip"
                                                data-placement="top" title="" alt="Avatar" data-original-title="Avatar">
                                        </li>
                                        <li><img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip"
                                                data-placement="top" title="" alt="Avatar" data-original-title="Avatar">
                                        </li>
                                        <li><img src="../assets/images/xs/avatar5.jpg" data-toggle="tooltip"
                                                data-placement="top" title="" alt="Avatar" data-original-title="Avatar">
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <h6>New project</h6>
                                    <p>It is a long established fact that a reader will be distracted.</p>
                                </div>
                            </li>
                            <li class="dd-item" data-id="3">
                                <div class="dd-handle">
                                    <h6>Feed Details</h6>
                                    <p>here are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered.</p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card progress_task">
                <div class="header">
                    <h2>In progress</h2>
                    <ul class="header-dropdown dropdown dropdown-animated scale-left">
                        <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body" id="as">
                    <div class="dd" data-plugin="nestable">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle">
                                    <h6>New Code Update</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <h6>Meeting</h6>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                        for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum
                                        et Malorum" by Cicero</p>
                                    <ul class="list-unstyled team-info m-t-20">
                                        <li><img src="../assets/images/xs/avatar7.jpg" data-toggle="tooltip"
                                                data-placement="top" title="" alt="Avatar" data-original-title="Avatar">
                                        </li>
                                        <li><img src="../assets/images/xs/avatar9.jpg" data-toggle="tooltip"
                                                data-placement="top" title="" alt="Avatar" data-original-title="Avatar">
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card completed_task">
                <div class="header">
                    <h2>Completed</h2>
                    <ul class="header-dropdown dropdown dropdown-animated scale-left">
                        <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="treeview js-treeview">
                        <ul>
                            <li>
                                <div class="treeview__level" data-level="A">
                                    <span class="level-title">Level A</span>
                                    <div class="treeview__level-btns">
                                        <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span>
                                        </div>
                                        <div class="btn btn-default btn-sm level-remove"><span
                                                class="fa fa-trash text-danger"></span></div>
                                        <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                                        <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                                    </div>
                                </div>
                                <ul>

                                    <li>
                                        <div class="treeview__level" data-level="B">
                                            <span class="level-title">Level A</span>
                                            <div class="treeview__level-btns">
                                                <div class="btn btn-default btn-sm level-add"><span
                                                        class="fa fa-plus"></span></div>
                                                <div class="btn btn-default btn-sm level-remove"><span
                                                        class="fa fa-trash text-danger"></span></div>
                                                <div class="btn btn-default btn-sm level-same"><span>Add Same
                                                        Level</span></div>
                                                <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>

                                            <li>
                                                <div class="treeview__level" data-level="C">
                                                    <span class="level-title">Level A</span>
                                                    <div class="treeview__level-btns">
                                                        <div class="btn btn-default btn-sm level-add"><span
                                                                class="fa fa-plus"></span></div>
                                                        <div class="btn btn-default btn-sm level-remove"><span
                                                                class="fa fa-trash text-danger"></span></div>
                                                        <div class="btn btn-default btn-sm level-same"><span>Add Same
                                                                Level</span></div>
                                                        <div class="btn btn-default btn-sm level-sub"><span>Add Sub
                                                                Level</span></div>
                                                    </div>
                                                </div>
                                                <ul>

                                                    <li>
                                                        <div class="treeview__level" data-level="D">
                                                            <span class="level-title">Level A</span>
                                                            <div class="treeview__level-btns">
                                                                <div class="btn btn-default btn-sm level-add"><span
                                                                        class="fa fa-plus"></span></div>
                                                                <div class="btn btn-default btn-sm level-remove"><span
                                                                        class="fa fa-trash text-danger"></span></div>
                                                                <div class="btn btn-default btn-sm level-same"><span>Add
                                                                        Same Level</span></div>
                                                                <div class="btn btn-default btn-sm level-sub"><span>Add
                                                                        Sub Level</span></div>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <div class="treeview__level" data-level="C">
                                                    <span class="level-title">Level A</span>
                                                    <div class="treeview__level-btns">
                                                        <div class="btn btn-default btn-sm level-add"><span
                                                                class="fa fa-plus"></span></div>
                                                        <div class="btn btn-default btn-sm level-remove"><span
                                                                class="fa fa-trash text-danger"></span></div>
                                                        <div class="btn btn-default btn-sm level-same"><span>Add Same
                                                                Level</span></div>
                                                        <div class="btn btn-default btn-sm level-sub"><span>Add Sub
                                                                Level</span></div>
                                                    </div>
                                                </div>
                                                <ul>
                                                </ul>
                                            </li>

                                            <li>
                                                <div class="treeview__level" data-level="C">
                                                    <span class="level-title">Level A</span>
                                                    <div class="treeview__level-btns">
                                                        <div class="btn btn-default btn-sm level-add"><span
                                                                class="fa fa-plus"></span></div>
                                                        <div class="btn btn-default btn-sm level-remove"><span
                                                                class="fa fa-trash text-danger"></span></div>
                                                        <div class="btn btn-default btn-sm level-same"><span>Add Same
                                                                Level</span></div>
                                                        <div class="btn btn-default btn-sm level-sub"><span>Add Sub
                                                                Level</span></div>
                                                    </div>
                                                </div>
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <div class="treeview__level" data-level="B">
                                            <span class="level-title">Level A</span>
                                            <div class="treeview__level-btns">
                                                <div class="btn btn-default btn-sm level-add"><span
                                                        class="fa fa-plus"></span></div>
                                                <div class="btn btn-default btn-sm level-remove"><span
                                                        class="fa fa-trash text-danger"></span></div>
                                                <div class="btn btn-default btn-sm level-same"><span>Add Same
                                                        Level</span></div>
                                                <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <template id="levelMarkup">
                    <li>
                        <div class="treeview__level" data-level="A">
                            <span class="level-title">Level A</span>
                            <div class="treeview__level-btns">
                                <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                                <div class="btn btn-default btn-sm level-remove"><span
                                        class="fa fa-trash text-danger"></span></div>
                                <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                                <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                            </div>
                        </div>
                        <ul>
                        </ul>
                    </li>
                </template>




            </div>
        </div>
    </div>

</div>
</div>

<script>

    document.addEventListener('contextmenu', function (e) {
        e.preventDefault(); // para prevenir el menú contextual por defecto
        // Crea y muestra tu menú personalizado con la opción de "Crear nueva caja"
    });

    document.getElementById('as').addEventListener('click', function () {
        // Crea una nueva caja en la interfaz
        console.log("asdasd");
        var newBox = document.createElement('div');
        newBox.classList.add('box');
        document.body.appendChild(newBox);

        // Envía una petición AJAX al servidor para crear una nueva caja en la base de datos
        // El código exacto para esto dependerá de tu backend y de tu base de datos
    });

    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('texto')) { // asumiendo que tus elementos de texto tienen la clase 'texto'
            e.target.setAttribute('contenteditable', 'true');
        }
    });

    document.addEventListener('input', function (e) {
        if (e.target.hasAttribute('contenteditable')) {
            // Envía una petición AJAX al servidor para actualizar el texto en la base de datos
            // El código exacto para esto dependerá de tu backend y de tu base de datos
        }
    });

</script>

<style>
    body {
        margin-bottom: 6em;
    }

    $border-color: #e3e5ef;
    $primary-color: #bada55;

    .treeview {
        //Variables
        $_treeview-level-size: 55px;

        //General styles for bootstrap
        .btn-default {
            border-color: $border-color;

            &:hover {
                background-color: #f7faea;
                color: $primary-color;
            }
        }

        // Targetting the HTML Elements for treeview
        ul {
            list-style: none;
            padding-left: 32px;

            li {
                padding: 50px 0px 0px 35px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: -26px;
                    left: -31px;
                    border-left: 2px dashed #a2a5b5;
                    width: 1px;
                    height: 100%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    border-top: 2px dashed #a2a5b5;
                    top: 70px;
                    left: -30px;
                    width: 65px;
                }

                &:last-child:before {
                    top: -22px;
                    height: 90px;
                }
            }
        }

        // First Level Elements
        &>ul {
            &>li {

                &:after,
                &:last-child:before {
                    content: unset;
                }

                &:before {
                    top: 90px;
                    left: 36px;
                }

                &:not(:last-child)>ul>li {
                    &:before {
                        content: unset;
                    }
                }

                &>.treeview__level {
                    &:before {
                        height: $_treeview-level-size + 5;
                        width: $_treeview-level-size + 5;
                        top: -9.5px;
                        background-color: #54a6d9;
                        border: 7.5px solid #d5e9f6;
                        font-size: 22px;
                    }
                }

                &>ul {
                    padding-left: 34px;
                }
            }
        }

        // Treeview Components
        &__level {
            padding: 7px;
            padding-left: ($_treeview-level-size / 2) + 15;
            display: inline-block;
            border-radius: 5px;
            font-weight: 700;
            border: 1px solid $border-color;
            position: relative;
            z-index: 1;

            &:before {
                content: attr(data-level);
                position: absolute;
                left: -($_treeview-level-size / 2);
                top: -6.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: $_treeview-level-size;
                width: $_treeview-level-size;
                border-radius: 50%;
                border: 7.5px solid #eef6d5;
                background-color: $primary-color;
                color: #fff;
                font-size: 20px;
            }

            &-btns {
                margin-left: 15px;
                display: inline-block;
                position: relative;
            }

            .level {

                &-same,
                &-sub {
                    position: absolute;
                    display: none;
                    transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);

                    &.in {
                        display: block;

                        .btn-default {
                            background-color: #faeaea;
                            color: #da5555;
                        }
                    }
                }

                &-same {
                    top: 0;
                    left: 45px;
                }

                &-sub {
                    top: 42px;
                    left: 0px;
                }

                &-remove {
                    display: none;
                }
            }

            &.selected {
                background-color: #f9f9fb;
                box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

                .level {
                    &-remove {
                        display: inline-block;
                    }

                    &-add {
                        display: none;
                    }

                    &-same,
                    &-sub {
                        display: none;
                    }
                }
            }
        }

        .level-title {
            cursor: pointer;
            user-select: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &--mapview {
            ul {
                justify-content: center;
                display: flex;

                li {
                    &:before {
                        content: unset;
                    }

                    &:after {
                        content: unset;
                    }
                }
            }
        }
    }
</style>

<script>

    $(function () {
        let treeview = {
            resetBtnToggle: function () {
                $(".js-treeview")
                    .find(".level-add")
                    .find("span")
                    .removeClass()
                    .addClass("fa fa-plus");
                $(".js-treeview")
                    .find(".level-add")
                    .siblings()
                    .removeClass("in");
            },
            addSameLevel: function (target) {
                let ulElm = target.closest("ul");
                let sameLevelCodeASCII = target
                    .closest("[data-level]")
                    .attr("data-level")
                    .charCodeAt(0);
                ulElm.append($("#levelMarkup").html());
                ulElm
                    .children("li:last-child")
                    .find("[data-level]")
                    .attr("data-level", String.fromCharCode(sameLevelCodeASCII));
            },
            addSubLevel: function (target) {
                let liElm = target.closest("li");
                let nextLevelCodeASCII = liElm.find("[data-level]").attr("data-level").charCodeAt(0) + 1;
                liElm.children("ul").append($("#levelMarkup").html());
                liElm.children("ul").find("[data-level]")
                    .attr("data-level", String.fromCharCode(nextLevelCodeASCII));
            },
            removeLevel: function (target) {
                target.closest("li").remove();

            }
        };

        // Treeview Functions
        $(".js-treeview").on("click", ".level-add", function () {
            $(this).find("span").toggleClass("fa-plus").toggleClass("fa-times text-danger");
            $(this).siblings().toggleClass("in");
        });

        // Add same level
        $(".js-treeview").on("click", ".level-same", function () {
            treeview.addSameLevel($(this));
            treeview.resetBtnToggle();
        });

        // Add sub level
        $(".js-treeview").on("click", ".level-sub", function () {
            treeview.addSubLevel($(this));
            treeview.resetBtnToggle();
        });
        // Remove Level
        $(".js-treeview").on("click", ".level-remove", function () {
            treeview.removeLevel($(this));
        });

        // Selected Level
        $(".js-treeview").on("click", ".level-title", function () {
            let isSelected = $(this).closest("[data-level]").hasClass("selected");
            !isSelected && $(this).closest(".js-treeview").find("[data-level]").removeClass("selected");
            $(this).closest("[data-level]").toggleClass("selected");
        });
    });


</script>